<%= content_for(:title) do %>
  WorkUp - Trouver le job de vos rêves, c'est possible
<% end %>

<%= content_for(:description) do %>
  Des histoires inspirantes, des rencontres et des outils pour oser créer le job de ses rêves
<% end %>

<div id="banner" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 id= "baseline">
          Trouver le job de ses
          <span style="color: #1ECBCA;">rêves</span>?</br>
          yes you
          <span style="color: #1ECBCA;">can</span>
        </h1>
      </div>
      <div class="col-xs-12">
        <%= link_to "c'est parti !", ressources_path, class: "btn btn-info"%>
      </div>
      <a href="#guide-caroussel"><i class="fa fa-angle-down pulse"></i></a>
    </div>
  </div>
</div>

<div id="guide-caroussel" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header">VOTRE GUIDE WORKUP</p>
      </div>
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-offset-1 col-xs-10 padded">
      <p>Parce que l'on ne sait pas toujours par où commencer lorsque l'on veut changer de voie.</br> Notre guide référence les meilleures adresses testées et approuvées par la communauté des workupers pour vous aider à trouver le job de vos rêves !</p>
    </div>
      <div class="row">
        <div class="col-xs-12">
          <%= link_to "Accéder au guide", ressources_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="notre-mission" class="text-center">
  <div class="container block">
    <div class="row">
      <div class="col-xs-12">
        <h2>NOTRE MISSION</br>
        VOUS GUIDER VERS LA VOIE QUI VOUS <span style="color: #1ECBCA;">CORRESPOND</span></h2>
      </div>
    </div>
  </div>
</div>

<div id="question-caroussel" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header">LES REPONSES</p>
      </div>
      <div class="col-xs-3 trait"></div>
        <div class="col-xs-offset-1 col-xs-10 padded">
        <p>Parce que nous sommes nombreux à être ou avoir été dans la même situation, il serait dommage de ne pas s'entraider et partager nos astuces entre nous</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "Accéder aux questions", ressources_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div id="communaute" class="text-center">
  <div class="container block">
    <div class="row">
      <div class="col-xs-12">
        <h2>WORKUP C'EST UNE VRAIE COMMUNAUTÉ DE MILLIERS DE WORKUPERS</h2>
      </div>
    </div>
  </div>
</div>

<div id="team" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header">QUI SOMMES-NOUS ?</p>
      </div>
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-offset-1 col-xs-4">
        <%= image_tag "anissa.jpg", class: "img-circle" %>
        </br>
        <%= link_to "https://fr.linkedin.com/pub/anissa-bennai/20/466/751" do %>
          <p class="btn btn-primary">ANISSA</p>
        <% end %>
        <p>uapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura.</p>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to "https://twitter.com/AnissaVannai" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-offset-1 col-xs-4">
        <%= image_tag "charlotte.jpg", class: "img-circle" %>
        </br>
        <%= link_to "https://fr.linkedin.com/in/charlottecady" do %>
          <p class="btn btn-primary">CHARLOTTE</p>
        <% end %>
        <p>uapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura.</p>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to "https://twitter.com/CharlotteCady" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="pole-emploi" class="text-center">
  <div class="container block">
    <div class="row">
      <div class="col-xs-12">
        <h2>AIDEZ-NOUS A CONSTRUIRE LE NOUVEAU POLE EMPLOI DE LA GENERATION Y</h2>
        <%= link_to "https://www.facebook.com/pages/Workup/1569854826618353", target: "blank" do %>
          <i class="fa fa-facebook"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="just-beginning" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header">CE N'EST QUE LE DÉBUT...</p>
      </div>
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-offset-1 col-xs-10 padded">
        <p>La WorkUPlace ouvrira ses portes très prochainement: Des événements, des formations, des accompagnements enfin adaptés à notre génération. STAY TUNED !</p>
      </div>
      <div class="col-xs-offset-3 col-xs-6">
        <!-- Mailchimp Form -->
        <div id="mc_embed_signup form-group">
          <form action="//rocks.us10.list-manage.com/subscribe/post?u=93a8a8570acd0e6bdaf4f34e7&amp;id=4374f2502c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <input type="email" name="EMAIL" class="email form-control text-center" id="mce-EMAIL" placeholder="votrecontact@gmail.com" required><br>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-12">
        <p>Faites parti de la grande communauté des workupers, accéder aux meilleures adresses et bons plans pour trouver le job de vos rêves.</p>
      </div>
    </div> -->
  </div>
</div>

<div id="contact" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class= "home-header">CONTACTEZ-NOUS</p>
      </div>
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-offset-2 col-xs-8" id="form">
        <form action="https://formspree.io/team@workup.rocks" method="POST">
          <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="votrecontact@gmail.com">
          <textarea class="form-control" name="message" rows="3" placeholder="N'hésitez pas à nous envoyer un petit message, nous serions ravies de vous répondre :)" ></textarea>
          <input type="submit" name="submit" id="send" class="btn btn-primary" value="Envoyer">
        </form>
      </div>
    </div>
  </div>
</div>